<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">

<title>如意卷轴之 {{ board_name }}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"><!-- 这个很怪↑，非得要在线导入，不然就渲染出错... -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.default.min.css') }}">
<!-- 深色主题用 --><!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark.min.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/SHORE_default.style.css') }}">
</head>

<body>
<div id="notification">
正在输入中，按 Ctrl + S 完成内容修改。
</div>

<div id="context-menu">
    <div id="create-card" style="padding:5px; cursor:pointer;">创建新卡片</div>
</div>

<div id="card-context-menu">
    <div id="delete-card" style="padding:5px; cursor:pointer;">删除该卡片</div>
    <div id="change-image-alignment" style="padding:5px; cursor:pointer;">设置图片对齐方式</div>
    <div id="delete-normal-image" style="padding:5px; cursor:pointer; ">删除这张图片</div>
    
    <div id="change-color" style="padding:5px; cursor:pointer;">使用自定义颜色</div>
    <div id="color-picker" style="padding-top: 8px; text-align: center;">
        <div class="color-circle" style="background-color: #ffbec0;"></div>
        <div class="color-circle" style="background-color: #4152d8;"></div>
        <div class="color-circle" style="background-color: #ff6443"></div>
        <div class="color-circle" style="background-color: #fec330;"></div>
        <div class="color-circle" style="background-color: brown;"></div>
        <br>
        <div class="color-circle" style="background-color: #e5a45b;"></div>
        <div class="color-circle" style="background-color: #ecd255;"></div>
        <div class="color-circle" style="background-color: #a0cf81;"></div>
        <div class="color-circle" style="background-color: #8195f6;"></div>
        <div class="color-circle" style="background-color: black;"></div>
    </div>
    <div id="copy-that-card" style="padding:5px; cursor:pointer;">复制该卡片</div>
    <div id="set-z-index" style="padding:5px; cursor:pointer;">设置Z轴</div>
    
</div>

<div class="footer" id="footer">
    <div style="width: 100%; height: 6px; background-color: transparent; z-index: -1000;"">
    </div>
    <div>21生信 王硕 苏州大学苏州医学院  Oct 10th, 2024, SHORE Ver 0.4.7 Stable</div>
</div>

<div id="return-button"> <a href="{{ url_for('welcome') }}" >返回主页</a>
</div>

{% for card in cards %}
<div class="card" id="{{ card.id }}" style="left: {{ card.left }}px; top: {{ card.top }}px; width: {{ card.width }}px; height: {{ card.height }}px; border-top: 5px solid {{ card.color }}; z-index: {{ card.z_index }}">
    <div class="bar"></div>
    <input class="name" value="{{ card.name }}" oninput="updateName(this)" />
    <div class="bar"></div>
    <div class="preview" style="height: max-content;">
    </div>
    <!-- <div class="content" oninput="debounceUpdateContent(this)" onblur="updateCardContent(this)" contenteditable="true"> -->
    <textarea class="content" 
        style="
        height: 100%;
        ">{{ card.content}}</textarea>
    
    <div class="card-resize-handle" style="background-color: {{ card.color}};"></div>
</div>
{% endfor %}
<!-- X|safe的语法可以把X的内容按照HTML来渲染，而不仅仅是字符串。比如换行符，引用的图片，超链接等等...  -->


<script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/katex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/auto-render.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/SHORE_default_main.js') }}"></script>
<script>
// 在模板中传递当前板名称
const currentBoardName = '{{ board_name }}';  
console.log('Current Board Name:', currentBoardName);
document.body.style.cursor = 'default';

// 拖动整个 whole-space
// let isWholeSpaceDragging = false;
// let spaceOffsetX, spaceOffsetY;



</script>
</body>
</html>
